In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datasets

/opt/miniconda3/envs/projectMSGAI/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# load dataseet
df = pd.read_csv('PartiPrompts.tsv', sep='\t')

print(df.head())

     Prompt  Category Challenge  \
0      bond  Abstract     Basic
1   element  Abstract     Basic
2  molecule  Abstract     Basic
3      life  Abstract     Basic
4   protein  Abstract     Basic

                                               Note
0  Biology-inspired concepts with multiple meanings
1  Biology-inspired concepts with multiple meanings
2  Biology-inspired concepts with multiple meanings
3  Biology-inspired concepts with multiple meanings
4  Biology-inspired concepts with multiple meanings

In [3]:
print(df.columns)

Index(['Prompt', 'Category', 'Challenge', 'Note'], dtype='object')

In [4]:
# get the number of categories and challenges
print(f"Categories: {len(df['Category'].unique())}")
print(f"Challenges: {len(df['Challenge'].unique())}")

Categories: 12
Challenges: 11

In [5]:
# get the number of categories per challenge
print(df.groupby('Challenge')['Category'].nunique())

Challenge
Basic                       12
Complex                     11
Fine-grained Detail         11
Imagination                 12
Linguistic Structures       10
Perspective                  9
Properties & Positioning     4
Quantity                    10
Simple Detail               10
Style & Format              11
Writing & Symbols            8
Name: Category, dtype: int64

In [6]:
display(df.groupby('Category').count())

                  Prompt  Challenge  Note
Category
Abstract              51         51    29
Animals              314        314    40
Artifacts            287        287    28
Arts                  66         66     7
Food & Beverage       74         74     5
Illustrations        124        124    17
Indoor Scenes         40         40     3
Outdoor Scenes       131        131    17
People               177        177    17
Produce & Plants      50         50     8
Vehicles             104        104     7
World Knowledge      214        214    12

In [7]:
# find how many None values are in each column
print(df.isnull().sum())

# replace None values with empty string
df = df.fillna('')
print(df.isnull().sum())

Prompt          0
Category        0
Challenge       0
Note         1442
dtype: int64
Prompt       0
Category     0
Challenge    0
Note         0
dtype: int64

In [ ]:
# create dataset with 10 promts per category
df2 = df.groupby('Category').head(10)
print(df2.groupby('Category').count())
datasets.Dataset.from_pandas(df2, preserve_index=False).save_to_disk("./PartiPrompts_120")
datasets.Dataset.from_pandas(df, preserve_index=False).save_to_disk("./PartiPrompts")

                  Prompt  Challenge  Note
Category
Abstract              10         10    10
Animals               10         10    10
Artifacts             10         10    10
Arts                  10         10    10
Food & Beverage       10         10    10
Illustrations         10         10    10
Indoor Scenes         10         10    10
Outdoor Scenes        10         10    10
People                10         10    10
Produce & Plants      10         10    10
Vehicles              10         10    10
World Knowledge       10         10    10

Saving the dataset (1/1 shards): 100%|██████████| 1632/1632 [00:00<00:00, 296350.51 examples/s]

In [35]:
dataset = datasets.load_from_disk('./PartiPrompts_120')
# dataset = dataset.set_format(type='torch', columns=['Prompt'])

In [ ]:
from torch.utils.data import DataLoader
from utils import create_sub_dataset
import math
sub_dataset = create_sub_dataset(dataset, 2)

dataloader = DataLoader(sub_dataset, batch_size=1, shuffle=False)
for batch in dataloader:
    print(batch)
    break

{'Prompt': ['a kitchen'], 'Category': ['Indoor Scenes'], 'Challenge': ['Basic'], 'Note': ['']}

1